.subscribe-btn {
  background-color: #c80000;
  color: #fff;
  border: none;
  width: 105px;
  height: 36px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.subscribe-btn:hover {
  opacity: 80%;
}

.subscribe-btn:active {
  opacity: 50%;
}

.join-btn {
  background-color: #ffffff;
  color: #2976d3;
  border-color: #2976d3;
  border: 1px solid #2976d3;
  border-radius: 2px;
  width: 62px;
  height: 36px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}

.join-btn:hover {
  color: #ffffff;
  background-color: #2976d3;
}

.tweet-btn {
  background-color: #2976d3;
  color: #ffffff;
  padding: 10px 16px;
  border: none;
  width: 74px;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.tweet-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
