div {
  background-color: #babafd;
}

.px-meas {
  width: 1000px;
}

.percentage-meas {
  width: 50%;
}

.subgroup {
  background-color: #fdeaba;
}

.vw-meas {
  width: 50vw;
}

.vh-meas {
  height: 100vh;
}

.em-meas {
  font-size: 1em;
}

.em-meas .subgroup {
  font-size: 2em;
}

.rem-meas {
  font-size: 1rem;
}

.rem-meas .subgroup {
  font-size: 2rem;
}
